<div>
  <h2 id="page-heading" data-cy="MaprRequestsHeading">
    <span jhiTranslate="mgrwebApp.maprRequests.home.title">Mapr Requests</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="mgrwebApp.maprRequests.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-mapr-requests"
        [routerLink]="['/mapr-requests/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="mgrwebApp.maprRequests.home.createLabel"> Create a new Mapr Requests </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="maprRequests?.length === 0">
    <span jhiTranslate="mgrwebApp.maprRequests.home.notFound">No maprRequests found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="maprRequests && maprRequests.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="global.field.id">ID</span></th>
          <th scope="col"><span jhiTranslate="mgrwebApp.maprRequests.type">Type</span></th>
          <th scope="col"><span jhiTranslate="mgrwebApp.maprRequests.action">Action</span></th>
          <th scope="col"><span jhiTranslate="mgrwebApp.maprRequests.name">Name</span></th>
          <th scope="col"><span jhiTranslate="mgrwebApp.maprRequests.path">Path</span></th>
          <th scope="col"><span jhiTranslate="mgrwebApp.maprRequests.requestUser">Request User</span></th>
          <th scope="col"><span jhiTranslate="mgrwebApp.maprRequests.requestDate">Request Date</span></th>
          <th scope="col"><span jhiTranslate="mgrwebApp.maprRequests.status">Status</span></th>
          <th scope="col"><span jhiTranslate="mgrwebApp.maprRequests.statusDate">Status Date</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let maprRequests of maprRequests; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/mapr-requests', maprRequests.id, 'view']">{{ maprRequests.id }}</a>
          </td>
          <td>{{ maprRequests.type }}</td>
          <td>{{ maprRequests.action }}</td>
          <td>{{ maprRequests.name }}</td>
          <td>{{ maprRequests.path }}</td>
          <td>{{ maprRequests.requestUser }}</td>
          <td>{{ maprRequests.requestDate | formatMediumDatetime }}</td>
          <td>{{ maprRequests.status }}</td>
          <td>{{ maprRequests.statusDate | formatMediumDatetime }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/mapr-requests', maprRequests.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/mapr-requests', maprRequests.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(maprRequests)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
